body {
  font-family: "Space Grotesk", sans-serif;
}

.gradient-text {
  font-size: 50px;
  font-weight: bold;
  background: linear-gradient(135deg, #14dca4, #6cebc5, #4be4bc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
